:root {
  --blue:#5aa7ff;
  --green:#5fb37a;
  --pink:#e88aa5;
  --orange:#f4a22a;
  --gray:#6f6f6f;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:system-ui,sans-serif;
}

body {
  height:100vh;
  background:#f2f4f7;
}

.app {
  max-width:390px;
  height:100vh;
  margin:auto;
  background:white;
  display:flex;
  flex-direction:column;
}

/* HEADER */
header {
  padding:16px;
  text-align:center;
  font-weight:600;
  border-bottom:1px solid #eee;
}

/* MAIN */
main {
  flex:1;
  position:relative;
  overflow:hidden;
}

.page {
  position:absolute;
  inset:0;
}

/* TRACK */
.onboarding-track {
  display:flex;
  width:400%;
  height:100%;
  transition:transform .4s ease;
}

.slide {
  width:100%;
  height:100%;
  position:relative;
}

/* CARD */
.card {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:50vh;
  min-height:300px;
  max-height:420px;
  background:white;
  border-radius:28px 28px 0 0;
  padding:36px 24px 24px;
  box-shadow:0 -10px 30px rgba(0,0,0,.08);
  overflow:hidden;
  display:flex;
  flex-direction:column;
}

/* SVG */
.svg-card {
  position:absolute;
  z-index:0;
  pointer-events:none;
}

.svg-jaune { bottom:-35px; left:0; width:180px; }
.svg-vert  { bottom:0; left:0; width:385px; }
.svg-rose  { bottom:-25px; left:0; width:240px; }
.svg-bleu  { bottom:0; left:0; width:400px; }

/* PROGRESSION À ÉTAPES */
.step-progress {
  position:relative;
  display:flex;
  align-items:center;
  gap:14px;
  margin-bottom:22px;
}


.lottie-bleu {
  position: absolute;
  bottom: 10px;
  left: -10px;
  width: 450px;
  pointer-events: none;
  z-index: 0;
}



.step-line {
  flex:1;
  height:2px;
  background:#3a3a3a;
  opacity:.6;
  border-radius:2px;
}

.step-dot {
  position:absolute;
  top:50%;
  left:0%;
  width:10px;
  height:10px;
  border-radius:50%;
  background:var(--orange);
  transform:translate(-50%,-50%);
  transition:transform .4s ease, background-color .4s ease;
}

/* TEXTE */
.card h2,
.card p {
  position:relative;
  z-index:1;
}

.card h2 {
  font-size:22px;
  margin-bottom:12px;
}

.card p {
  font-size:15px;
  line-height:1.5;
  color:var(--gray);
}

/* COULEURS */
.orange{color:var(--orange);}
.green{color:var(--green);}
.pink{color:var(--pink);}
.blue{color:var(--blue);}

/* NAV */
.nav-buttons {
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
  display:flex;
  justify-content:space-between;
}

.back {
  width:24px;
  height:24px;
  border-radius:50%;
  border:none;
  background:var(--blue);
  color:white;
  font-size:22px;
}

.next {
  padding:10px 18px;
  border-radius:20px;
  border:none;
  background:var(--blue);
  color:white;
  font-weight:600;
}
